<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý người dùng</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        {{> page/sidebar/sales/sidebar-staff}}
        <div id="page-content-wrapper">
            <nav id="sub-nav-lg" class="navbar navbar-light" style="background-color: #e3f2fd;">
                <!-- Navbar content -->
                <div></div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal"
                    data-bs-target="#create-user">
                    <i class="ti-plus"></i> Tạo người dùng
                </button>
            </nav>
            <nav id="sub-nav-sm" class="navbar navbar-light d-flex justify-content-between"
                style="background-color: #e3f2fd;">
                <!-- Navbar content -->
                <button type="button" class="btn btn-danger btn-storage">
                    <i class="ti-archive"></i>
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal"
                    data-bs-target="#create-user">
                    <i class="ti-plus"></i>
                </button>
            </nav>
            <div class="container-fluid mt-3">
                <div class="table-responsive mt-3">
                    <table id="user" class="table table-sm table-bordered align-middle">
                        <thead class="table-info">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Họ tên</th>
                                <th scope="col">Ngày sinh</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Email</th>
                                <th scope="col">Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each customers}}
                            <tr class="info">
                                <th scope="row">{{sum @index 1}}</th>
                                <td class="cursor-pointer"><a href="{{this._id}}/customer-detail">{{this.firstName}}
                                        {{this.lastName}}</a></td>
                                <td>{{this.birth}}</td>
                                <td>{{this.gender}}</td>
                                <td>0{{this.phone}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.address}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{!-- Modal Create --}}
    <div class="modal fade" id="create-user" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg bg-dark" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo khách hàng mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="col-xl-12">
                            <ul class="list-group">
                                <li class="list-group-item bg-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="firstName" class="form-label">
                                                <h6>Họ</h6>
                                            </label>
                                            <input type="text" class="form-control form-control-sm" id="firstName"
                                                placeholder="Vd: Trần Văn" name="firstName"
                                                title="Username should only contain lowercase letters. e.g. john"
                                                required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="lastName" class="form-label">
                                                <h6>Tên</h6>
                                            </label>
                                            <input type="text" class="form-control form-control-sm" id="lastName"
                                                placeholder="Vd: Khánh" name="lastName" required>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label for="birth" class="form-label">
                                                <h6>Ngày sinh</h6>
                                            </label>
                                            <input type="date" class="form-control form-control-sm" id="birth"
                                                aria-describedby="birthFeedback" name="birth" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="gender" class="form-label">
                                                <h6>Giới tính</h6>
                                            </label>
                                            <select class="form-select form-select-sm"
                                                aria-label=".form-select-sm example" name="gender">
                                                <option value="" selected>-- Chọn giới tính --</option>
                                                <option value="Nữ">Nữ</option>
                                                <option value="Nam">Nam</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label for="phone" class="form-label">
                                                <h6>Số điện thoại</h6>
                                            </label>
                                            <input type="tel" class="form-control form-control-sm" id="phone"
                                                placeholder="Vd: 0909888888" name="phone" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email" class="form-label">
                                                <h6>Email</h6>
                                            </label>
                                            <input type="email" class="form-control form-control-sm" id="email"
                                                placeholder="Vd: tranvankhanh@gmail.com" name="email" required>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label for="address" class="form-label">
                                                <h6>Địa chỉ</h6>
                                            </label>
                                            <input type="text" class="form-control form-control-sm" id="address"
                                                aria-describedby="addressFeedback" placeholder="Vd: 123 Đường số 10"
                                                name="address" required>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12 mb-3">
                                            <label for="description" class="form-label">
                                                <h6>Mô tả</h6>
                                            </label>
                                            <textarea class="form-control" id="description" rows="6"
                                                placeholder="Mô tả khách hàng" name="description"></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create-comment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg bg-dark" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo khách hàng mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="col-xl-12">
                            <ul class="list-group">
                                <li class="list-group-item bg-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="firstName" class="form-label">
                                                <h6>Họ</h6>
                                            </label>
                                            <input type="text" class="form-control form-control-sm" id="comment"
                                                placeholder="Vd: Trần Văn" name="comment"
                                                title="Username should only contain lowercase letters. e.g. john"
                                                required>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Modal View --}}


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $(document).ready(function () {
                $('#user').DataTable({
                    paginate: true,
                    scrollY: 300,
                    scrollX: 0
                });
            });
            var viewCustomer = document.getElementById("viewModal");
            viewCustomer.addEventListener("show.bs.modal", function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;

                // Get data from edit button
                var firstName = button.getAttribute("data-firstname");
                var lastName = button.getAttribute("data-lastname");
                var birth = button.getAttribute("data-birth");
                var gender = button.getAttribute("data-gender");
                var phone = button.getAttribute("data-phone");
                var email = button.getAttribute("data-email");
                var address = button.getAttribute("data-address");
                var decription = button.getAttribute("data-decript");

                // Get element need embeded input
                var updFirstName = document.getElementById("updFirstName");
                var updLastName = document.getElementById("updLastName");
                var updBirth = document.getElementById("updBirth");
                var updGender = document.getElementById("updGender");
                var updPhone = document.getElementById("updPhone");
                var updEmail = document.getElementById("updEmail");
                var updAddress = document.getElementById("updAddress");
                var updDecript = document.getElementById("updDescription");

                updFirstName.value = firstName;
                updLastName.value = lastName;
                updBirth.value = birth;
                updGender.value = gender;
                updPhone.value = 0 + phone;
                updEmail.value = email;
                updAddress.value = address;
                updDescription.value = decription;
            });
        });
    </script>