<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Quản lý người dùng</title>
	</head>
	<body>
		<div class="d-flex" id="wrapper">
			{{> page/sidebar/admin/sidebar-admin}}
			<div id="page-content-wrapper">
				<nav id="sub-nav-lg" class="navbar navbar-light" style="background-color: #e3f2fd;">
					<!-- Navbar content -->
					<button type="button" class="btn btn-danger btn-storage">
						<i class="ti-archive"></i> Kho lưu trữ
					</button>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal" data-bs-target="#create-user">
						<i class="ti-plus"></i> Tạo người dùng
					</button>
				</nav>
				<nav id="sub-nav-sm" class="navbar navbar-light d-flex justify-content-between" style="background-color: #e3f2fd;">
					<!-- Navbar content -->
					<button type="button" class="btn btn-danger btn-storage">
						<i class="ti-archive"></i>
					</button>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal" data-bs-target="#create-user">
						<i class="ti-plus"></i>
					</button>
				</nav>
				<div class="container-fluid container-content-page">
					<div class="row mt-3">
						{{#each users}}
						<div class="col-xl-3 col-lg-3 col-md-6 mb-3 mr-3">
							<div class="card">
								<div class="card-header d-flex justify-content-between">
									<strong>ID: {{cutString this._id 16}}</strong>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
									</div>
								</div>
								<img src="/img/uploads/users/{{this.image.name}}" class="card-img-top add-avata" alt="...">
								<div class="card-body">
									<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-detail-id="{{this._id}}" data-detail-img="{{this.image.name}}" data-detail-first-name="{{this.firstName}}"
										data-detail-last-name="{{this.lastName}}" data-detail-birth="{{this.birth}}" data-detail-gender="{{this.gender}}" data-detail-phone="{{this.phone}}" data-detail-email="{{this.email}}"
										data-detail-address="{{this.address}}" data-detail-department="{{this.department}}" data-detail-position="{{this.position}}" data-detail-description="{{this.description}}"
										data-detail-account="{{this.account}}" data-detail-password="{{this.this.password}}" data-detail-role="{{this.role}}" data-bs-target="#detail-user" title="{{this._id}}">
										<h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
									</a>
									<p class="none-mb"><strong>Phòng ban: </strong>{{this.department}}</p>
									<p class="none-mb"><strong>Chức vụ: </strong>{{this.position}}</p>
									{{!-- <label><strong>Mô tả: </strong></label>
									<p class="text-wrap none-mb">{{this.description}}</p> --}}
								</div>
								<div class="card-footer">
									<div class="row">
										<button type="button" class="btn btn-info mb-1" data-bs-toggle="modal" data-edit-img="{{this.image.name}}" data-id="{{this._id}}" data-first-name="{{this.firstName}}"
											data-last-name="{{this.lastName}}" data-birth="{{this.birth}}" data-gender="{{this.gender}}" data-phone="{{this.phone}}" data-email="{{this.email}}"
											data-address="{{this.address}}" data-department="{{this.department}}" data-position="{{this.position}}" data-description="{{this.description}}"
											data-account="{{this.account}}" data-password="{{this.this.password}}" data-role="{{this.role}}" data-bs-target="#edit-user">
											Sửa
										</button>
										<button class="btn btn-danger">Xóa</button>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Details User -->
		<div class="modal fade" id="detail-user" tabindex="-1" aria-labelledby="detailUser" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header bg-info text-light">
						<h5 class="modal-title" id="detailUser">Thông tin chi tiết</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="card">
						<div class="row g-0">
							<div class="col-md-4 text-center">
							<img id="detail-avt" class="img-fluid rounded-start" alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h3 class="none-mb" id="detail-firstLastName"></h3>
									<p class="none-mb" id="detail-birth" for="detail-birth"></p>
									<p class="none-mb" id="detail-gender"></p>
									<p class="none-mb" id="detail-phone"></p>
									<p class="none-mb" id="detail-email"></p>
									<p class="none-mb" id="detail-address"></p>
									<p class="none-mb" id="detail-department"></p>
									<p class="none-mb" id="detail-position"></p>
									<p class="none-mb" id="detail-account"></p>
									<p class="none-mb" id="detail-role"></p>
									<label class="">Mô tả:</label>
									<textarea id="detail-description" class="form-control mb-2" rows="6" disabled></textarea>
								</div>
							</div>
						</div>
					</div>
					{{!-- <div class="modal-header bg-info text-light">
						<h5 class="modal-title" id="detailUser">Thông tin chi tiết</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body bg-dark">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-9 col-lg-8">
									<ul class="list-group">
										<li class="list-group-item bg-dark text-green border-green">
											<h3 class="" id="detail-firstLastName">{{this.firstName}} {{this.lastName}}</h3>
											<p class="" id="detail-birth" for="detail-birth">{{this.birth}}</p>
											<p class="" id="detail-gender">{{this.gender}}</p>
											<p class="" id="detail-phone">{{this.phone}}</p>
											<p class="" id="detail-email">{{this.email}}</p>
											<p class="" id="detail-address">{{this.address}}</p>
											<p class="" id="detail-department">{{this.department}}</p>
											<p class="" id="detail-position">{{this.position}}</p>
											<label class="">Mô tả:</label>
											<textarea id="detail-description" class="form-control  bg-dark text-green border-green mb-3" rows="6" disabled>{{this.description}}</textarea>
										</li>
									</ul>    
								</div>
								<div class="col-xl-3 col-lg-4">
									<img id="detail-avt" class="rounded mx-auto d-block add-avata" alt="...">
									<p class=" text-green mt-3 text-center-sm" id="detail-account">{{this.account}}</p>
									<p class=" text-green text-center-sm" id="detail-role">{{this.role}}</p>
								</div>
							</div>
						</div>
					</div> --}}
				</div>
			</div>
		</div>


		<!-- Modal Create User -->
		<div class="modal fade" id="create-user" tabindex="-1" aria-labelledby="infoUser" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header bg-primary text-light">
						<h5 class="modal-title" id="infoUser">Tạo thông tin người dùng mới</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form method="POST" action="/root/user" id="create-user-form" class="row" enctype="multipart/form-data">
							<div class="mt-3 text-center mb-3">
								<img src="/img/user-icon.png" id="add-avt" class="rounded mx-auto d-block add-avata" alt="...">
								<label for="create-img" class="label-avt btn btn-sm btn-primary mt-3">
									<h6>Chọn ảnh đại diện</h6>
								</label>
								<input id="create-img" type="file" name="image" accept="image/png, image/gif, image/jpeg">
							</div>
							<div class="col-xl-8 mb-3">
								<ul class="list-group">
									<li class="list-group-item bg-info">
										<div class="row">
											<div class="col-md-6">
												<label for="firstName" class="form-label"><h6>Họ</h6></label>
												<input type="text" class="form-control form-control-sm" id="firstName" pattern="[a-z]{1,15}"  placeholder="Vd: Trần Văn" name="firstName" title="Username should only contain lowercase letters. e.g. john" required>
											</div>
											<div class="col-md-6">
												<label for="lastName" class="form-label"><h6>Tên</h6></label>
												<input type="text" class="form-control form-control-sm" id="lastName" placeholder="Vd: Khánh" name="lastName" required>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-6">
												<label for="birth" class="form-label"><h6>Ngày sinh</h6></label>
												<input type="date" class="form-control form-control-sm" id="birth" aria-describedby="birthFeedback" name="birth" required>
											</div>
											<div class="col-md-6">
												<label for="gender" class="form-label"><h6>Giới tính</h6></label>
												<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="gender">
													<option value="" selected>-- Chọn giới tính --</option>
													<option value="Nữ">Nữ</option>
													<option value="Nam">Nam</option>
												</select>
											</div>    
										</div>
										<div class="row mt-3">
											<div class="col-md-6">
												<label for="phone" class="form-label"><h6>Số điện thoại</h6></label>
												<input type="tel" class="form-control form-control-sm" id="phone" placeholder="Vd: 0909888888" name="phone" required>
											</div>
											<div class="col-md-6">
												<label for="email" class="form-label"><h6>Email</h6></label>
												<input type="email" class="form-control form-control-sm" id="email" placeholder="Vd: tranvankhanh@gmail.com" name="email" required>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-12">
												<label for="address" class="form-label"><h6>Địa chỉ</h6></label>
												<input type="text" class="form-control form-control-sm" id="address" aria-describedby="addressFeedback" placeholder="Vd: 123 Đường số 10" name="address" required>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-6">
												<label for="departments" class="form-label"><h6>Phòng ban</h6></label>
												<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="department">
													<option value="" selected>-- Chọn phòng ban --</option>
													{{#each departments}}
													<option value="{{this.name}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
											<div class="col-md-6">
												<label for="positions" class="form-label"><h6>Chức vụ</h6></label>
												<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="position">
													<option value="" selected>-- Chọn chức vụ --</option>
													{{#each positions}}
													<option value="{{this.name}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-12 mb-3">
												<label for="description" class="form-label"><h6>Mô tả</h6></label>
												<textarea class="form-control" id="description" rows="6" placeholder="Vd: Kinh nghiệm làm việc, sở thích..." name="description"></textarea>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-xl-4">
								<ul class="list-group">
									<li class="list-group-item bg-danger text-light">
										<div class="col-xl">
											<label for="account" class="form-label"><h6>Tài khoản</h6></label>
											<input type="text" class="form-control form-control-sm" id="account" name="account" required>
										</div>
										<div class="col-xl mt-3">
											<label for="password" class="form-label"><h6>Mật khẩu</h6></label>
											<input type="password" class="form-control form-control-sm" id="password" name="password" required>
										</div>
										<div class="col-xl mt-3 mb-3">
											<label for="roles" class="form-label"><h6>Quyền hạn</h6></label>
											<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="role">
												<option value="" selected>-- Chọn quyền hạn --</option>
												{{#each roles}}
												<option value="{{this.name}}">{{this.name}}</option>
												{{/each}}
											</select>
										</div>
									</li>
								</ul>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
						<button type="button" id="create" class="btn btn-primary">Tạo mới</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal Edit User -->
		<div class="modal fade" id="edit-user" tabindex="-1" aria-labelledby="editUser" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header bg-info text-light">
						<h5 class="modal-title" id="editUser">Sửa / Cập nhật thông tin người dùng</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form method="POST" id="edit-user-form" class="row" enctype="multipart/form-data">
							<img src="/img/user-icon.png" id="edit-avt" class="rounded mx-auto d-block" alt="...">
							<div class="mt-3 mb-3 text-center">
								<label for="edit-img" class="label-avt btn btn-sm btn-primary">
									<h6>Chọn ảnh đại diện</h6>
								</label>
								<input class="form-control" id="edit-img" type="file" name="image" accept="image/png, image/gif, image/jpeg">	
							</div>
							<div class="col-xl-8 mb-3">
								<ul class="list-group">
									<li class="list-group-item bg-info text-light">
										<div class="row">
											<div class="col-md-6">
												<label for="firstName" class="form-label"><h6>Họ</h6></label>
												<input type="text" class="form-control form-control-sm" data-bs-focus="focus" id="edit-firstName" name="firstName" required>
											</div>
											<div class="col-md-6">
												<label for="lastName" class="form-label"><h6>Tên</h6></label>
												<input type="text" class="form-control form-control-sm" id="edit-lastName" name="lastName" required>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-6">
												<label for="birth" class="form-label"><h6>Ngày sinh</h6></label>
												<input type="date" class="form-control form-control-sm" id="edit-birth" aria-describedby="birthFeedback" name="birth" required>
											</div>
											<div class="col-md-6">
												<label for="gender" class="form-label"><h6>Giới tính</h6></label>
												<select id="edit-gender" class="form-select form-select-sm" aria-label=".form-select-sm example" name="gender">
													<option value="" selected>-- Chọn giới tính --</option>
													<option value="Nữ">Nữ</option>
													<option value="Nam">Nam</option>
												</select>
											</div>    
										</div>
										<div class="row mt-3">
											<div class="col-md-6">
												<label for="phone" class="form-label"><h6>Số điện thoại</h6></label>
												<input type="tel" class="form-control form-control-sm" id="edit-phone" name="phone" required>
											</div>
											<div class="col-md-6">
												<label for="email" class="form-label"><h6>Email</h6></label>
												<input type="email" class="form-control form-control-sm" id="edit-email" name="email" required>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-12">
												<label for="address" class="form-label"><h6>Địa chỉ</h6></label>
												<input type="text" class="form-control form-control-sm" id="edit-address" aria-describedby="addressFeedback" name="address" required>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-6">
												<label for="departments" class="form-label"><h6>Phòng ban</h6></label>
												<select id="edit-department" class="form-select form-select-sm" aria-label=".form-select-sm example" name="department">
													<option value="" selected>-- Chọn phòng ban --</option>
													{{#each departments}}
													<option value="{{this.name}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
											<div class="col-md-6">
												<label for="positions" class="form-label"><h6>Chức vụ</h6></label>
												<select id="edit-position" class="form-select form-select-sm" aria-label=".form-select-sm example" name="position">
													<option value="" selected>-- Chọn chức vụ --</option>
													{{#each positions}}
													<option value="{{this.name}}">{{this.name}}</option>
													{{/each}}
												</select>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-12 mb-3">
												<label for="description" class="form-label"><h6>Mô tả</h6></label>
												<textarea class="form-control" id="edit-description" rows="6" name="description"></textarea>
											</div>
										</div>
									</li>
								</ul>    
							</div>
							<div class="col-xl-4">
								<ul class="list-group">
									<li class="list-group-item bg-danger text-light">
										<div class="col-xl">
											<label for="account" class="form-label"><h6>Tài khoản</h6></label>
											<input type="text" class="form-control form-control-sm" id="edit-account" value="{{this.account}}" name="account" disabled>
										</div>
										<div class="col-xl mt-3">
											<label for="password" class="form-label"><h6>Mật khẩu</h6></label>
											<input type="password" class="form-control form-control-sm" id="edit-password" name="password" required>
										</div>
										<div class="col-xl mb-3 mt-3">
											<label for="roles" class="form-label"><h6>Quyền hạn</h6></label>
											<select id="edit-role" class="form-select form-select-sm" aria-label=".form-select-sm example" name="role">
											<option value="" selected>-- Chọn quyền hạn --</option>
											{{#each roles}}
											<option value="{{this.name}}">{{this.name}}</option>
											{{/each}}
										</select>
										</div>
									</li>
								</ul>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
						<button type="button" id="edit" class="btn btn-primary">Lưu thay đổi</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/sidebar.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				$(document).ready(function () {
					$('#user').DataTable({
						responsive: true,
					});
				});
			});
		</script>
	</body>
</html>


