{{!-- <div class="row">
    {{> page/sidebar/sales/sidebar-manager}} --}}
    <div class="content ">
        <nav class="navbar bg-info d-flex justify-content-between pr-3 pl-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger btn-storage">
                <i class="ti-archive"></i> Kho lưu trữ
            </button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <i class="ti-plus"></i> Tạo người dùng
            </button>
        </nav>
        <div class="container-fluid mt-3">
            <div class="table-responsive mt-3">
                <table id="user" class="display nowrap order-column compact">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Ngày sinh</th>
                            <th scope="col">Giới tính</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Email</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each customers}}
                        <tr class="info">
                            <th scope="row">{{sum @index 1}}</th>
                            <td>{{this.name}}</td>
                            <td>{{this.birth}}</td>
                            <td>{{this.gender}}</td>
                            <td>0{{this.phone}}</td>
                            <td>{{this.email}}</td>
                            <td class="text-center">
                                <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#updateModal" data-idd="{{this._id}}" data-name="{{this.name}}"
                                    data-birth="{{this.birth}}" data-gender="{{this.gender}}"
                                    data-phone="{{this.phone}}" data-email="{{this.email}}">Sửa
                                </button>
                                <button class="btn btn-outline-danger btn-sm" data-id="{{this._id}}"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{!-- Modal Create --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg bg-dark" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông tin tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="form-group mb-3">
                            <label class="form-lable" for="last-name">Tên</label>
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="Nhập 'Tên' khách hàng">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-lable" for="birth">Ngày sinh</label>
                            <input type="date" class="form-control" id="birth" name="birth" min="01/01/2006"
                                max="01/01/1977">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-lable" for="gender">Giới tính</label>
                            <select class="form-control" id="gender" name="gender">
                                <option>-- Chọn giới tính --</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-lable" for="phone">Số điện thoại</label>
                            <input type="number" class="form-control" id="phone" name="phone"
                                placeholder="Nhập số điện thoại">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-lable" for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                aria-describedby="emailHelp" placeholder="Nhập email">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Modal Delete --}}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có đồng ý xóa không?
                </div>
                <div class="modal-footer">
                    <button id="btn-delete" type="button" class="btn btn-danger">Có, chắc chắn</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                </div>
            </div>
        </div>
    </div>

    <form name="delete-form" method="POST"></form>
    {{!-- Modal Update --}}
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Thông tin tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="update-form" id="update-form" method="POST">
                        <div class="form-group mb-3">
                            <label class="form-label" for="name">Tên</label>
                            <input type="text" class="form-control" id="updName" name="name"
                                placeholder="Nhập 'Tên' khách hàng">
                        </div>
                        <div class="form-group mb-3">
                            <label for="birth" class="form-label">
                                <h6>Ngày sinh</h6>
                            </label>
                            <input type="date" class="form-control form-control-sm" id="updBirth"
                                aria-describedby="birthFeedback" name="birth" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="gender">Giới tính</label>
                            <select class="form-control" id="updGender" name="gender">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="phone">Số điện thoại</label>
                            <input type="tel" class="form-control" id="updPhone" name="phone"
                                placeholder="Nhập số điện thoại">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="updEmail" name="email"
                                aria-describedby="emailHelp" placeholder="Nhập email">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button id="btn-update" type="button" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>


        document.addEventListener('DOMContentLoaded', function () {
            $(document).ready(function () {
                $('#user').DataTable({
                    paginate: true,
                    scrollY: 300,
                    scrollX: 0
                });
            });

            //DELETE
            var id;
            var btnDel = document.getElementById('btn-delete');
            var delForm = document.forms['delete-form'];

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                id = button.data('id');

            })

            btnDel.onclick = function () {
                delForm.action = '/admin/' + id + '?_method=DELETE';
                delForm.submit();
            }
            //END DELETE

            //UPDATE
            var idd;
            var btnUpd = document.getElementById('btn-update');
            var updForm = document.forms['update-form'];

            var updCustomer = document.getElementById("updateModal");
            updCustomer.addEventListener("show.bs.modal", function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                idd = button.getAttribute("data-idd");

                // Get data from edit button
                var name = button.getAttribute("data-name");
                var birth = button.getAttribute("data-birth");
                var gender = button.getAttribute("data-gender");
                var phone = button.getAttribute("data-phone");
                var email = button.getAttribute("data-email")

                // Get element need embeded input
                var updName = document.getElementById("updName");
                var updBirth = document.getElementById("updBirth");
                var updGender = document.getElementById("updGender");
                var updPhone = document.getElementById("updPhone");
                var updEmail = document.getElementById("updEmail");

                updName.value = name;
                updBirth.value = birth;
                updGender.value = gender;
                updPhone.value = phone;
                updEmail.value = email;
            });
            btnUpd.onclick = function () {
                updForm.action = '/admin/' + idd + '?_method=PUT';
                updForm.submit();
            }
            //END UPDATE
        });



    </script>