<div class="row bg-dark">
    {{> page/sidebar/sales/sidebar-manager}}
    <div class="content">
        <div class="container-fluid mt-3">

            <table class="table table-hover text-light mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã Khách hàng</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Ngày sinh</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mã phòng ban</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each customers}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this._id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.birth}}</td>
                        <td>{{this.gender}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.department_id}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>