<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quản lý người dùng</title>
</head>

<body>
	<div class="d-flex" id="wrapper">
		{{> page/sidebar/sales/sidebar-staff}}
		<div id="page-content-wrapper">
			<nav id="sub-nav-lg" class="navbar taskbar ">
				<button type="button" class="btn btn-danger btn-storage">
					<i class="ti-archive"></i> Kho lưu trữ
				</button>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal"
					data-bs-target="#create-customer">
					<i class="ti-plus"></i> Tạo người dùng
				</button>
			</nav>
			{{!-- <div class="sub-nav-mobile bg-info d-flex justify-content-end">
				<div class="btn btn-primary"><i class="ti-plus"></i></div>
			</div> --}}
			<div class="container-fluid mt-3">
				<table id="customer_table" class="table table-hover table-sm">
					<thead class="table-info">
						<tr class="text-center">
							<th scope="col">#</th>
							<th scope="col">Họ tên</th>
							<th scope="col">Ngày sinh</th>
							<th scope="col">Giới tính</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Email</th>
							<th scope="col">Địa chỉ</th>
							<th scope="col">Mô tả</th>
							<th scope="col">Hành động</th>
						</tr>
					</thead>
					<tbody>
						{{#each customers}}
						<tr>
							<th scope="row">{{sum @index 1}}</th>
							<td><a type="button" class="btn btn-primary btn-sm"
									href="{{this._id}}/customer-detail">{{this.firstName}} {{this.lastName}} </a></td>
							<td>{{this.birth}}</td>
							<td>{{this.gender}}</td>
							<td>{{this.phone}}</td>
							<td>{{this.email}}</td>
							<td>{{this.address}}</td>
							<td>{{this.description}}</td>
							<td class="text-center">
								<div class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#edit-customer"
									data-firstname="{{this.firstName}}" data-lastname="{{this.lastName}}"
									data-birth="{{this.birth}}" data-gender="{{this.gender}}"
									data-phone="{{this.phone}}" data-email="{{this.email}}"
									data-address="{{this.address}}" data-decript="{{this.description}}">
									Sửa thông tin</div>
								<div class="btn btn-danger btn-sm" data-id="{{this._id}}"
                                    data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</div>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{> page/sidebar/admin/sidebar-mobile}}
		</div>
	</div>



	<!-- Modal Create User -->
	<div class="modal fade" id="create-customer" tabindex="-1" aria-labelledby="infoCustomer" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header bg-primary text-light">
					<h5 class="modal-title" id="infoCustomer">Tạo thông tin khách hàng</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="POST" action="/business/manager/customer" id="create-customer-form" class="row"
						enctype="multipart/form-data">
						<div class="col-xl-3 text-center mb-3">
							<img src="/img/user-icon.png" id="add-avt-customer"
								class="rounded mx-auto d-block add-avata" alt="...">
							<label for="create-img" class="label-avt btn btn-sm btn-primary mt-3">
								<h6>Chọn ảnh đại diện</h6>
							</label>
							<input id="create-img" type="file" name="image" accept="image/png, image/gif, image/jpeg">
						</div>
						<div class="col-xl-9 mb-3">
							<ul class="list-group">
								<li class="list-group-item bg-info">
									<div class="row">
										<div class="col-md-6">
											<label for="firstName" class="form-label">
												<h6>Họ</h6>
											</label>
											<input type="text" class="form-control form-control-sm firstName"
												id="customer-firstName" pattern="[a-z]{1,15}" placeholder="Vd: Trần Văn"
												name="firstName" required>
										</div>
										<div class="col-md-6">
											<label for="lastName" class="form-label">
												<h6>Tên</h6>
											</label>
											<input type="text" class="form-control form-control-sm lastName"
												id="customer-lastName" placeholder="Vd: Khánh" name="lastName" required>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<label for="birth" class="form-label">
												<h6>Ngày sinh</h6>
											</label>
											<input type="date" class="form-control form-control-sm" id="customer-birth"
												aria-describedby="birthFeedback" name="birth" required>
										</div>
										<div class="col-md-6">
											<label for="gender" class="form-label">
												<h6>Giới tính</h6>
											</label>
											<select class="form-select form-select-sm"
												aria-label=".form-select-sm example" name="gender">
												<option value="" selected>-- Chọn giới tính --</option>
												<option value="Nữ">Nữ</option>
												<option value="Nam">Nam</option>
											</select>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<label for="phone" class="form-label">
												<h6>Số điện thoại</h6>
											</label>
											<input type="tel" class="form-control form-control-sm" id="customer-phone"
												placeholder="Vd: 0909888888" name="phone" required>
										</div>
										<div class="col-md-6">
											<label for="email" class="form-label">
												<h6>Email</h6>
											</label>
											<input type="email" class="form-control form-control-sm" id="customer-email"
												placeholder="Vd: tranvankhanh@gmail.com" name="email">
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-12">
											<label for="address" class="form-label">
												<h6>Địa chỉ</h6>
											</label>
											<input type="text" class="form-control form-control-sm"
												id="customer-address" aria-describedby="addressFeedback"
												placeholder="Vd: 123 Đường số 10" name="address" required>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-12 mb-3">
											<label for="description" class="form-label">
												<h6>Mô tả</h6>
											</label>
											<textarea class="form-control" id="customer-description" rows="6"
												placeholder="Vd: Sở thích..."
												name="description"></textarea>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
					<button type="button" id="create" class="btn btn-primary">Tạo mới</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Edit User -->
	<div class="modal fade" id="edit-customer" tabindex="-1" aria-labelledby="editCustomer" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header bg-info text-light">
					<h5 class="modal-title" id="editCustomer">Sửa / Cập nhật thông tin người dùng</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="POST" id="edit-customer-form" class="row" enctype="multipart/form-data">
						<img src="/img/user-icon.png" id="edit-avt" class="rounded mx-auto d-block add-avata" alt="...">
						<div class="mt-3 mb-3 text-center">
							<label for="edit-img" class="label-avt btn btn-sm btn-primary">
								<h6>Chọn ảnh đại diện</h6>
							</label>
							<input class="form-control" id="edit-img" type="file" name="image"
								accept="image/png, image/gif, image/jpeg">
						</div>
						<div class="col-xl-12 mb-3">
							<ul class="list-group">
								<li class="list-group-item bg-info text-light">
									<div class="row">
										<div class="col-md-6">
											<label for="firstName" class="form-label">
												<h6>Họ</h6>
											</label>
											<input type="text" class="form-control form-control-sm firstName"
												data-bs-focus="focus" id="edit-firstName" name="firstName">
										</div>
										<div class="col-md-6">
											<label for="lastName" class="form-label">
												<h6>Tên</h6>
											</label>
											<input type="text" class="form-control form-control-sm lastName"
												id="edit-lastName" name="lastName">
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<label for="birth" class="form-label">
												<h6>Ngày sinh</h6>
											</label>
											<input type="date" class="form-control form-control-sm" id="edit-birth"
												aria-describedby="birthFeedback" name="birth" required>
										</div>
										<div class="col-md-6">
											<label for="gender" class="form-label">
												<h6>Giới tính</h6>
											</label>
											<select id="edit-gender" class="form-select form-select-sm"
												aria-label=".form-select-sm example" name="gender">
												<option value="" selected>-- Chọn giới tính --</option>
												<option value="Nữ">Nữ</option>
												<option value="Nam">Nam</option>
											</select>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<label for="phone" class="form-label">
												<h6>Số điện thoại</h6>
											</label>
											<input type="tel" class="form-control form-control-sm" id="edit-phone"
												name="phone" required>
										</div>
										<div class="col-md-6">
											<label for="email" class="form-label">
												<h6>Email</h6>
											</label>
											<input type="email" class="form-control form-control-sm" id="edit-email"
												name="email" required>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-12">
											<label for="address" class="form-label">
												<h6>Địa chỉ</h6>
											</label>
											<input type="text" class="form-control form-control-sm" id="edit-address"
												aria-describedby="addressFeedback" name="address" required>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-12 mb-3">
											<label for="description" class="form-label">
												<h6>Mô tả</h6>
											</label>
											<textarea class="form-control" id="edit-description" rows="6"
												name="description"></textarea>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
					<button type="button" id="edit" class="btn btn-primary">Lưu thay đổi</button>
				</div>
			</div>
		</div>
	</div>


    <form name="delete-form" method="POST"></form>
	{{!-- Modal Delete --}}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có đồng ý xóa không?
                </div>
                <div class="modal-footer">
                    <button id="btn-delete" type="button" class="btn btn-danger">Có, chắc chắn</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                </div>
            </div>
        </div>
    </div>

	<script src="/js/customer.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			$(document).ready(function () {
				$('#customer_table').DataTable({
					scrollY: 300,
					paging: true,
					reponsive: true
				});
			});

			//DELETE
			var id;
            var btnDel = document.getElementById('btn-delete');
            var delForm = document.forms['delete-form'];

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                id = button.data('id');

            })

            btnDel.onclick = function () {
                delForm.action = '/admin/customer/' + id + '?_method=DELETE';
                delForm.submit();
            }

			//UPDATE
			var viewCustomer = document.getElementById("edit-customer");
			viewCustomer.addEventListener("show.bs.modal", function (event) {
				// Button that triggered the modal
				var button = event.relatedTarget;

				// Get data from edit button
				var firstName = button.getAttribute("data-firstname");
				var lastName = button.getAttribute("data-lastname");
				var birth = button.getAttribute("data-birth");
				var gender = button.getAttribute("data-gender");
				var phone = button.getAttribute("data-phone");
				var email = button.getAttribute("data-email");
				var address = button.getAttribute("data-address");
				var decription = button.getAttribute("data-decription");

				// Get element need embeded input
				var editFirstName = document.getElementById("edit-firstName")
				var editLastName = document.getElementById("edit-lastName")
				var editBirth = document.getElementById("edit-birth")
				var editGender = document.getElementById("edit-gender")
				var editPhone = document.getElementById("edit-phone")
				var editEmail = document.getElementById("edit-email")
				var editAddress = document.getElementById("edit-address")
				var editdescipt = document.getElementById("edit-description")

				editFirstName.value = firstName;
				editLastName.value = lastName;
				editBirth.value = birth;
				editGender.value = gender;
				editPhone.value = phone;
				editEmail.value = email;
				editAddress.value = address;
				editdescipt.value = decription;

			});
		});
	</script>
</body>

</html>