<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quản lý người dùng</title>
</head>

<body>
	<div class="d-flex" id="wrapper">
		{{> page/sidebar/sales/sidebar-staff}}
		<div id="page-content-wrapper">
			<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
                <div class="title">
					<a href="/business/employ/customers" class="text-light"><i class="ti-back-left"></i> Quay lại</a>
				</div>
                <h3 class="title text-light">Thông tin khách hàng</h3>
				<div class="stask">
                    
                </div>
            </nav>
			<div class="container-fluid container-content-page">
				<div class="row mt-3">
					<div class="col-xl-5 mb-3">
						<img src="/img/uploads/users/{{customer.image.name}}" id="add-avt" class="rounded mx-auto d-block add-avata" alt="...">
						<div class="card-body">
							<h3 class="">{{customer.firstName}} {{customer.lastName}}</h3>
							<p class="" value="" for="detail-birth"><strong>Ngày sinh:
								</strong>{{customer.birth}}</p>
							<p class="" value=""><strong>Giới tính: </strong>{{customer.gender}}</p>
							<p class="" value=""><strong>Điện thoại: </strong>{{customer.phone}}</p>
							<p class="" value=""><strong>Email: </strong>{{customer.email}}</p>
							<p class="" value=""><strong>Địa chỉ: </strong>{{customer.address}}</p>
							<label class="mb-2"><strong>Mô tả:</strong></label>
							<textarea id="detail-description" class="form-control mb-2" rows="6"
								disabled>{{customer.description}}</textarea>
						</div>
					</div>
					<div class="col-xl-7 activate">
						<ul class="list-group comment-content-page border">
							{{#each customer.comments}}
							<li class="list-group-item bg-light">
								<p id="createdAt" class="none-mb comment-createdAt text-end"><strong>{{formatDate
										this.createdAt}}</strong></p>
								<p class="none-mb comment-content text-end" value="">{{this.comment}}</p>
							</li>
							{{/each}}
						</ul>
						<form method="POST" action="/business/employ/customers/{{customer._id}}/comment?_method=PATCH">
							<div class="col-xl mt-3">
								<label for="account" class="form-label">
									<h6>Hoạt động</h6>
								</label>
								<input type="text" class="form-control form-control-sm" id="comments" name="comments" required>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Lưu</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>