<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">

	</div>
	<h3 class="title text-light">Quản lý khách hàng</h3>
	{{> page/sidebar/business/sidebar-business-employ-customers}}

	<div class="stask">
		<!-- Button trigger modal -->
		<a href="/business/employ/service-note" type="button" class="btn btn-primary btn-create">
			<i class="ti-receipt"></i> Phiếu dịch vụ
		</a>
		<!-- Button trigger modal -->
		<button data-bs-toggle="modal" data-bs-target="#create-customer-modal" class="btn btn-primary btn-create">
			<i class="ti-plus"></i>
		</button>
	</div>
</nav>
<div class="container-fluid mt-3">
	<div id="alert-message" class="alert alert-{{message.color}}" role="alert">
		{{message.content}}
	</div>
	<div class="container-table">
		<table id="customer_table" class="table table-hover table-bordered table-sm">
			<thead class="table-info">
				<tr>
					<th class="text-center" scope="col">#</th>
					<th class="text-center" scope="col">Họ tên</th>
					<th class="text-center" scope="col">Ngày sinh</th>
					<th class="text-center" scope="col">Giới tính</th>
					<th class="text-center" scope="col">Số điện thoại</th>
					<th class="text-center" scope="col">Email</th>
					<th class="text-center" scope="col">Địa chỉ</th>
					<th class="text-center" scope="col">Mô tả</th>
					<th class="text-center" scope="col">Hành động</th>
				</tr>
			</thead>
			<tbody id="table-content">
				{{#each customers}}
				<tr>
					<th class="text-center" scope="row">{{sum @index 1}}</th>
					<td><a href="/business/employ/customers/{{this._id}}/detail">{{this.firstName}}
							{{this.lastName}}</a></td>
					<td class="text-center">{{this.birth}}</td>
					<td class="text-center">{{this.gender}}</td>
					<td class="text-center">{{this.phone}}</td>
					<td>{{this.email}}</td>
					<td>{{this.address}}</td>
					<td>{{this.description}}</td>
					<td class="text-center">
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
								data-bs-toggle="dropdown" aria-expanded="false">
								Hành động
							</button>
							<ul class="dropdown-menu dropdown-menu-sm">
								<li>
									<button class="dropdown-item" data-bs-toggle="modal"
										data-bs-target="#edit-customer-modal" data-id="{{this._id}}"
										data-edit-img="{{this.image.name}}" data-edit-firstname="{{this.firstName}}"
										data-edit-lastname="{{this.lastName}}" data-edit-birth="{{this.birth}}"
										data-edit-gender="{{this.gender}}" data-edit-phone="{{this.phone}}"
										data-edit-email="{{this.email}}" data-edit-address="{{this.address}}"
										data-edit-description="{{this.description}}">Sửa thông tin khách hàng</button>
								</li>
								<hr class="dropdown-divider">
								<li>
									<a class="dropdown-item" data-bs-toggle="modal" data-service-note-id="{{this._id}}"
										data-service-note-firstname="{{this.firstName}}"
										data-service-note-lastname="{{this.lastName}}"
										data-service-note-birth="{{this.birth}}"
										data-service-note-gender="{{this.gender}}"
										data-service-note-phone="{{this.phone}}"
										data-service-note-email="{{this.email}}"
										data-service-note-address="{{this.address}}"
										data-service-note-description="{{this.description}}"
										data-bs-target="#create-service-note-modal">Tạo phiếu dịch vụ</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="container-card">
		{{#each customers}}
		<div class="card text-dark bg-info mb-3">
			<div class="card-header">
				<h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
			</div>
			<div class="card-body">
				<p class="card-text">Ngày sinh: {{this.birth}}</p>
				<p class="card-text">Giới tính: {{this.gender}}</p>
				<p class="card-text">Email: {{this.email}}</p>
				<p class="card-text">Địa chỉ: {{this.address}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</div>



<!-- Modal Create Customer -->
<div class="modal fade" id="create-customer-modal" tabindex="-1" aria-labelledby="create-customer-modal"
	aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="modal-title text-light" id="create-customer-modal">Tạo thông tin khách hàng</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="create-customer-form" method="POST" class="row" enctype="multipart/form-data">
					<div class="col-xl-3 text-center mb-3">
						<img src="/img/user-icon.png" id="add-avt-customer" class="rounded mx-auto d-block add-avata"
							alt="...">
						<label for="input-create-img" class="label-avt btn btn-sm btn-primary mt-3">
							<h6>Chọn ảnh đại diện</h6>
						</label>
						<input hidden id="input-create-img" type="file" name="image"
							accept="image/png, image/gif, image/jpeg">
					</div>
					<div class="col-xl-9 mb-3">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-md-6">
										<label for="create-firstName" class="form-label">
											<h6>Họ</h6>
										</label>
										<input type="text" class="form-control form-control-sm" id="create-firstName"
											placeholder="Vd: Trần Văn" name="firstName" required>
									</div>
									<div class="col-md-6">
										<label for="create-lastName" class="form-label">
											<h6>Tên</h6>
										</label>
										<input type="text" class="form-control form-control-sm" id="create-lastName"
											placeholder="Vd: Khánh" name="lastName" required>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-6">
										<label for="create-birth" class="form-label">
											<h6>Ngày sinh</h6>
										</label>
										<input type="date" class="form-control form-control-sm" id="create-birth"
											aria-describedby="birthFeedback" name="birth" required>
									</div>
									<div class="col-md-6">
										<label for="create-gender" class="form-label">
											<h6>Giới tính</h6>
										</label>
										<select class="form-select form-select-sm" aria-label=".form-select-sm example"
											name="gender">
											<option value="" selected>-- Chọn giới tính --</option>
											<option value="Nữ">Nữ</option>
											<option value="Nam">Nam</option>
										</select>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-6">
										<label for="create-phone" class="form-label">
											<h6>Số điện thoại</h6>
										</label>
										<input type="tel" class="form-control form-control-sm" id="create-phone"
											placeholder="Vd: 0909888888" name="phone" required>
									</div>
									<div class="col-md-6">
										<label for="create-email" class="form-label">
											<h6>Email</h6>
										</label>
										<input type="email" class="form-control form-control-sm" id="create-email"
											placeholder="Vd: tranvankhanh@gmail.com" name="email" required>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12">
										<label for="create-address" class="form-label">
											<h6>Địa chỉ</h6>
										</label>
										<input type="text" class="form-control form-control-sm" id="create-address"
											aria-describedby="addressFeedback" placeholder="Vd: 123 Đường số 10"
											name="address" required>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12 mb-3">
										<label for="create-description" class="form-label">
											<h6>Mô tả</h6>
										</label>
										<textarea class="form-control" id="create-description" rows="6"
											placeholder="Mô tả khách hàng" name="description"></textarea>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				<button id="create-customer-btn" type="submit" class="btn btn-primary">Tạo mới</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Edit Customer -->
<div class="modal fade" id="edit-customer-modal" tabindex="-1" aria-labelledby="edit-customer" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-info text-light">
				<h5 class="modal-title" id="edit-customer-title">Sửa / Cập nhật thông tin người dùng</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="POST" id="edit-customer-form" class="row" enctype="multipart/form-data">
					<div class="col-xl-3">
						<img src="/img/user-icon.png" id="edit-customer-avt" class="rounded mx-auto d-block add-avata"
							alt="...">
						<div class="mt-3 mb-3 text-center">
							<label for="input-edit-img" class="label-avt btn btn-sm btn-primary">
								<h6>Chọn ảnh đại diện</h6>
							</label>
							<input hidden class="form-control" id="input-edit-img" type="file" name="image"
								accept="image/png, image/gif, image/jpeg">
						</div>
					</div>
					<div class="col-xl-9 mb-3">
						<ul class="list-group">
							<li class="list-group-item bg-info text-light">
								<div class="row">
									<div class="col-md-6">
										<label for="edit-firstName" class="form-label">
											<h6>Họ</h6>
										</label>
										<input type="text" class="form-control form-control-sm firstName"
											data-bs-focus="focus" id="edit-firstName" name="firstName">
									</div>
									<div class="col-md-6">
										<label for="edit-lastName" class="form-label">
											<h6>Tên</h6>
										</label>
										<input type="text" class="form-control form-control-sm lastName"
											id="edit-lastName" name="lastName">
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-6">
										<label for="edit-birth" class="form-label">
											<h6>Ngày sinh</h6>
										</label>
										<input type="date" class="form-control form-control-sm" id="edit-birth"
											aria-describedby="birthFeedback" name="birth" required>
									</div>
									<div class="col-md-6">
										<label for="edit-gender" class="form-label">
											<h6>Giới tính</h6>
										</label>
										<select id="edit-gender" class="form-select form-select-sm"
											aria-label=".form-select-sm example" name="gender">
											<option value="" selected>-- Chọn giới tính --</option>
											<option value="Nữ">Nữ</option>
											<option value="Nam">Nam</option>
										</select>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-6">
										<label for="edit-phone" class="form-label">
											<h6>Số điện thoại</h6>
										</label>
										<input type="tel" class="form-control form-control-sm" id="edit-phone"
											name="phone" required>
									</div>
									<div class="col-md-6">
										<label for="edit-email" class="form-label">
											<h6>Email</h6>
										</label>
										<input type="email" class="form-control form-control-sm" id="edit-email"
											name="email" required>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12">
										<label for="edit-address" class="form-label">
											<h6>Địa chỉ</h6>
										</label>
										<input type="text" class="form-control form-control-sm" id="edit-address"
											aria-describedby="addressFeedback" name="address" required>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12 mb-3">
										<label for="edit-description" class="form-label">
											<h6>Mô tả</h6>
										</label>
										<textarea class="form-control" id="edit-description" rows="6"
											name="description"></textarea>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
				<button type="button" id="edit-customer-btn" class="btn btn-primary">Lưu thay đổi</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create Service Note -->
<div class="modal fade" id="create-service-note-modal" tabindex="-1" aria-labelledby="create-service-note"
	aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-info text-light">
				<h5 class="modal-title" id="create-service-note-title">Tạo phiếu dịch vụ</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="pills-profile-customer-tab" data-bs-toggle="pill"
							data-bs-target="#pills-profile-customer" type="button" role="tab" aria-controls="pills-home"
							aria-selected="true">Thông tin khách hàng</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
							data-bs-target="#pills-service" type="button" role="tab" aria-controls="pills-profile"
							aria-selected="false">Thông tin dịch vụ</button>
					</li>
				</ul>
				<form method="POST" id="create-service-note-form" class="row">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-profile-customer" role="tabpanel"
							aria-labelledby="pills-home-tab">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="create-service-note-firstLastName"
											name="name" readonly>
										<label for="name">Họ tên</label>
									</div>
									<div class="form-floating mb-3">
										<input type="date" class="form-control" id="create-service-note-birth"
											name="birth" readonly>
										<label for="birth">Ngày sinh</label>
									</div>
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="create-service-note-gender"
											name="gender" readonly>
										<label for="gender">Giới tính</label>
									</div>
									<div class="form-floating mb-3">
										<input type="email" class="form-control" id="create-service-note-email"
											name="email" readonly>
										<label for="email">Email address</label>
									</div>
									<div class="form-floating mb-3">
										<input type="number" class="form-control" id="create-service-note-phone"
											name="phone" readonly>
										<label for="phone">Số điện thoại</label>
									</div>
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="create-service-note-address"
											name="address" readonly>
										<label for="address">Địa chỉ</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="pills-service" role="tabpanel"
							aria-labelledby="pills-profile-tab">
							<div class="mb-3">
								<label for="service" class="form-label">
									<h6>Chọn dịch vụ</h6>
								</label>
								<select id="select-service" class="chosen-select" multiple tabindex="6" name="service">
									{{#each typeservices}}
									<optgroup label="{{this.name}}">
										{{#each this.services}}
										<option value="{{this.service}}">{{this.service}}</option>
										{{/each}}
									<optgroup>
										{{/each}}
								</select>
							</div>

							<div class="mb-3">
								<label for="performer" class="form-label">
									<h6>Nhân viên thực hiện</h6>
								</label>
								<select id="select-performer" class="chosen-select" multiple tabindex="6"
									name="performer">
									{{#each users}}
									<option value="{{this.firstName}} {{this.lastName}}">{{this.firstName}}
										{{this.lastName}}</option>
									{{/each}}
								</select>
							</div>

							<div class="mb-3">
								<label for="gender" class="form-label">
									<h6>Ngày hẹn</h6>
								</label>
								<input type="datetime-local" class="form-control" id="create-service-note-schedule"
									name="schedule">
							</div>

							<div class="mb-3">
								<label for="comment" class="form-label">
									<h6>Ghi chú: </h6>
								</label>
								<textarea class="form-control" id="create-service-note-description" rows="6"
									name="comment"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
				<button type="button" id="create-service-note-btn" class="btn btn-primary">Lưu thay đổi</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/business/business-employ-customer.js"></script>