<nav id="sub-nav-lg" class="navbar taskbar justify-content-between">
	<div class="title">

	</div>
	<h3 class="title text-light">phiếu dịch vụ</h3>
	{{> page/sidebar/operating-room/sidebar-doctor}}

	<div class="stask">
	</div>
</nav>
<div class="container">
	<div id="alert-message" class="alert alert-{{message.color}}" role="alert">
		{{message.content}}
	</div>
	<div class="shadow p-3 mb-5 bg-body rounded">
		{{#each serviceNotes}}
		<form id="submit-doctor-form">

			<div class="row">
				{{#each this.customer}}
				<h3 class="text-center">{{this.name}}</h3>
				{{/each}}
			</div>
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active btn-light" id="pills-profile-customer-tab" data-bs-toggle="pill"
						data-bs-target="#pills-profile-customer" type="button" role="tab" aria-controls="pills-home"
						aria-selected="true">Thông tinh</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link  btn-light" id="pills-profile-tab" data-bs-toggle="pill"
						data-bs-target="#pills-service" type="button" role="tab" aria-controls="pills-profile"
						aria-selected="false">Dịch vụ</button>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">


				<div class="row">
					<div class="col-md-6">
						<div class="text-left ml-4">
							<label for="service">
								<strong>Reception:</strong>&nbsp;&nbsp;
							</label>
							<label for="service-name">
								<em>{{this.createName}}</em>
							</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="text-right mr-4">
							<label for="status">
								<strong>Trạng thái:</strong>&nbsp;&nbsp;
							</label>
							<label for="status">
								<em>{{this.status}}</em>
							</label>
						</div>
					</div>
				</div>
				<hr>
				<div class="tab-pane fade show active" id="pills-profile-customer" role="tabpanel"
					aria-labelledby="pills-home-tab">
					<div class="row">
						<div class="col-md-6 text-left">
							<div class="service mt-3 ">
								<label class=" ml-4"><strong>Dịch vụ:</strong></label>
							</div>
							<div class="service mt-3">
								<label class=" ml-4"><strong>Lịch hẹn:</strong></label>
							</div>
							<div class="service mt-3">
								<label class=" ml-4"><strong>Bác sĩ:</strong></label>
							</div>
							<div class="service mt-3">
								<label class=" ml-4"><strong>Y tá:</strong></label>
							</div>
							<div class="service mt-3">
								<label class=" ml-4"><strong>Ghi chú:</strong></label>
							</div>
						</div>

						<div class="col-md-6 text-right">
							<div class="service mt-3">
								{{#each services}}
								<label class=" mr-4"><em>{{this.service}}</em></label>
								{{/each}}
							</div>
							<div class="service mt-3">
								<label class=" mr-4"><em>{{formatDate this.schedule}}</em></label>
							</div>
							<div class="service mt-3">
								<label class=" mr-4"><em>{{this.performer}}1</em></label>
							</div>
							<div class="service mt-3">
								<label class=" mr-4"><em>{{this.nursing}}</em></label>
							</div>
							<div class="service mt-3">
								{{#each comments}}
								<label class=" mr-4"><em>{{this.comment}}</em></label>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade  " id="pills-service" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="row">
						<div class="col-md-3 text-left">
							<div class="service mt-3 ">
								<label class=" ml-4"><strong>Dịch vụ:</strong></label>
							</div>
						</div>
						<div class="col-md-9 row">

							<div class="col-md-6 text-left">
								Trước

							</div>

							<div class="col-md-6 text-left">
								Sau
							</div>
						</div>
					</div>
					{{#each services}}
					<div class="row">
						<div class="col-md-3 text-left">
							<div class="service mt-3 ">
								<label class=" ml-4"><strong>{{this.service}}</strong></label>
							</div>
						</div>

						<div class="col-md-9 row">

							<div class="col-md-6 text-left">

								<label for="input-customer-service-before-img"
									class="label-avt btn btn-sm btn-primary mt-3">
									<h6>Chọn hình ảnh</h6>
								</label>
								<input hidden id="input-customer-service-before-img" type="file" name="before"
									accept="image/png, image/gif, image/jpeg">
							</div>

							<div class="col-md-6 text-left">
								<label for="input-customer-service-after-img"
									class="label-avt btn btn-sm btn-primary mt-3">
									<h6>Chọn hình ảnh</h6>
								</label>
								<input hidden id="input-customer-service-after-img" type="file" name="after"
									accept="image/png, image/gif, image/jpeg">
							</div>
						</div>
					</div>
					{{/each }}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6">

				</div>

				<div class="col-md-6 text-right">

					<button type="button" data-bs-toggle="modal" data-bs-target="#submit-doctor-modal"
						class="btn btn-success" data-id="{{this._id}}">Lưu thay đổi</button>
				</div>
			</div>
			{{else}}
			<div class="text-center">Chưa có dịch vụ cần thực hiện.</div>
			{{/each }}
		</form>


	</div>
	<div class="modal fade" id="submit-doctor-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Bạn có đồng ý xóa vĩnh viễn không?
				</div>
				<div class="modal-footer">
					<button id="submit-form-doctor-btn" type="button" class="btn btn-danger">Có, chắc chắn</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/operating/doctor.js"></script>